<%= form_with model: @registration do |f| %>
  <% if @registration.errors.any? %>
    <div class="alert alert-danger">
      <h4>There were errors saving this registration:</h4>

      <ul>
        <% @registration.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :user_id, "User", class: "form-label" %>
    <%= f.collection_select :user_id, User.all, :id, :name,
        { prompt: "Select a user" },
        { class: "form-select", required: true } %>
  </div>

  <div class="mb-3">
    <%= f.label :event_id, "Event", class: "form-label" %>
    <%= f.collection_select :event_id, Event.all, :id, :title,
        { prompt: "Select an event" },
        { class: "form-select", required: true } %>
  </div>

  <div class="mb-3">
    <%= f.label :status, "Status", class: "form-label" %>
    <%= f.select :status,
        ["confirmed", "waiting_list", "cancelled"],
        { prompt: "Select status" },
        { class: "form-select", required: true } %>
  </div>

  <%= f.submit "Save Registration", class: "btn", style: "background-color: #ce0615; color: white;" %>
<% end %>